<div class="container">
  <app-cake
    [cake]="{
      name: 'Gâteau à la fraise',
      composition: 'Chocolat, fraise, vanille, menthe, crème, beurre',
      price: 18.02,
      imageUrl: 'https://assets.afcdn.com/recipe/20160317/33223_w1024h576c1cx2464cy1632.jpg'
    }"
class="cakes"
  ></app-cake>
  <app-cake
    [cake]="{
      name: 'Gâteau au chocolat',
      composition: 'Chocolat, fraise',
      price: 15,
      imageUrl:
        'https://knightparabellum.000webhostapp.com/img/gato-choco-c-lignac-17-.jpg'
    }"
class="cakes"
  ></app-cake>
  <app-cake
    [cake]="{
      name: 'Gâteau à la fraise',
      composition: 'Chocolat, fraise',
      price: 15.02,
      imageUrl:
        'https://assets.afcdn.com/recipe/20160317/33223_w1024h576c1cx2464cy1632.jpg'
    }"
class="cakes"
  ></app-cake>
  <app-cake
    [cake]="{
      name: 'Gâteau au chocolat',
      composition: 'Chocolat, fraise',
      price: 15,
      imageUrl:
        'https://knightparabellum.000webhostapp.com/img/gato-choco-c-lignac-17-.jpg'
    }"
class="cakes"
  ></app-cake>
  <app-cake
    [cake]="{
      name: 'Gâteau à la fraise',
      composition: 'Chocolat, fraise',
      price: 12.02,
      imageUrl: 'https://assets.afcdn.com/recipe/20160317/33223_w1024h576c1cx2464cy1632.jpg'
    }"
class="cakes"
  ></app-cake>
  <app-cake
    [cake]="{
      name: 'Gâteau au chocolat',
      composition: 'Chocolat, fraise',
      price: 15,
      imageUrl:
        'https://knightparabellum.000webhostapp.com/img/gato-choco-c-lignac-17-.jpg'
    }"
class="cakes"
  ></app-cake>
  <app-cake
    [cake]="{
      name: 'Gâteau à la fraise',
      composition: 'Chocolat, fraise, vanille',
      price: 17.32,
      imageUrl: 'https://assets.afcdn.com/recipe/20160317/33223_w1024h576c1cx2464cy1632.jpg'
    }"
class="cakes"
  ></app-cake>
  <app-cake
    [cake]="{
      name: 'Gâteau au chocolat',
      composition: 'Chocolat, fraise',
      price: 15,
      imageUrl:
        'https://knightparabellum.000webhostapp.com/img/gato-choco-c-lignac-17-.jpg'
    }"
class="cakes"
  ></app-cake>

</div>
