<header style="position: fixed; width: 100%">
  <img
    id="headerImg"
    src="https://knightparabellum.000webhostapp.com/img/headerGateau.png"
    alt="header image"
    style="width: 100%"
  />

  <div class="navContainer" style="width: 100%">
    <div class="links-container">
      <nav id="nav">
        <h3>Ma petite boutique &#169;</h3>

        <ul>
          <li>
            <a
              [routerLink]="['/']"
              [ngClass]="{ 'active-link': isLinkActive('/') }"
              >Accueil</a
            >
          </li>
          <li>
            <a
              [routerLink]="['/card']"
              [ngClass]="{ 'active-link': isLinkActive('/card') }"
              >Card</a
            >
          </li>
          <li>
            <a
              href="https://drive.google.com/drive/folders/1D_Zv4CUtIG7B9ptYMsDsO6ied4BjR0M5"
              >Accès privé</a
            >
          </li>
        </ul>
        <div id="icons"></div>
      </nav>
    </div>
  </div>
</header>

<div class="wrapper">
  <router-outlet [ngClass]="{ 'dark-overlay': isNavActive }"></router-outlet>
</div>

<div class="footer">
  <footer>
    <div class="hContainer">
      <div class="scheduleTop">
        <div class="day">
          Lundi Mardi Mercredi Jeudi Vendredi
          <div class="time-slots">
            <div class="time-slot">09:00 - 12:00</div>
            <div class="time-slot">13:00 - 20:00</div>
          </div>
        </div>

        <div class="scheduleBot">
          <div class="day">
            Samedi
            <div class="time-slots">
              <div class="time-slot">09:00 - 12:00</div>
              <div class="time-slot">13:00 - 20:00</div>
            </div>
          </div>
        </div>
      </div>
      <div class="tel">
        <p>&#x260F; 06 00 00 00 00</p>
        <p>&#64; leon.jean&#64;mail.fr</p>
      </div>

    </div>
  </footer>
</div>
