:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 100% de la hauteur de la vue */
}

.wrapper {
margin-top: 10%;
  flex: 1; /* Permet à 'wrapper' de prendre autant d'espace que possible */

//  margin: 0;
  flex: 1; /* Permet à 'wrapper' de prendre autant d'espace que possible */
  background-image: url("https://knightparabellum.000webhostapp.com/img/fondGateau.png");
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 25, 0.2); /* Remplace ces valeurs par la couleur de fond souhaitée et l'opacité désirée */
  background-blend-mode: overlay; /* Cette propriété peut être utilisée pour ajuster le mélange de l'image et de la couleur de fond */
}
.footer {
  margin-top: auto; /* Le footer restera en bas de la page */
}

.navContainer {
  display: flex;
  justify-content: space-between;
}


.transparent-nav {
  background-color: #dbc19a  !important;

}


.links-container {
  width: 100%;
}

h1 {
  text-align: center;
  color: black;
}
h3 {
  text-align: center;
  color:white;
}

.links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0rem;
  background-color: #f19915;
  height: 2rem;
  align-items: center;
}


header{
  // background-color: #94939d;
  // background-color: #f19915;
  //height: 9%;
  align-items: center;
}
.footer{
  background-color: #f19915;

}


* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI";
}
li {
  list-style: none;
}
a,
a:visited {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}



a:hover {
  color: white;
  border-bottom: 1px;
}

a:after{
  content: '';
  width: 0;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: -5px;
  right: 0;
  transition: width .3s;
}

 a:hover:after{
  width: 100%;
  left: 0;
}

//**** NAVBAR ****
nav {
  background: #f19915;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  // font-size: calc(0.5rem + 1.5vw);
}
nav ul {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
#icons {
  cursor: pointer;
  display: none;
}

@media (max-width: 650px) {
  #icons {
    display: block;
  }
  #icons:before {
    content: "\2630";
    color: white;
  }
  .active #icons:before {
    content: "\2716";
    color: white;
  }

  nav ul {
    position: fixed;
    left: -100%;
    top: 15%;
    flex-direction: column;
    // background: #f19915;
    width: 100%;
    text-align: center;
    transition: 0.25s;
  }
  nav li {
    padding: 3px 0;
  }

  // nav li:hover {
  //   background: #f5a936;
  // }
  nav.active ul {
    left: 0;
    top:16%;
    background-color: rgba(0, 0, 0, 0.2); /* Noir transparent */
    z-index: 1000;

  }
.wrapper {
  z-index: -1 ;
}
  .dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Noir transparent */
    z-index: 1; /* Valeur à ajuster selon vos besoins */
  }

  // li{

  //   width: 25%;

  // }
// .darkImg{
//   display: none;
// }

// img{
//   display: none;
// }

// #headerImg{
//   display: none;
// }

  links-container {
    position:absolute;
    z-index: 700;
    top: 50px;
  }
}
