:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 100% de la hauteur de la vue */
}

.wrapper {
margin-top: 10%;
  flex: 1; /* Permet à 'wrapper' de prendre autant d'espace que possible */

//  margin: 0;
  flex: 1; /* Permet à 'wrapper' de prendre autant d'espace que possible */
  background-image: url("https://knightparabellum.000webhostapp.com/img/fondGateau.png");
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 25, 0.2); /* Remplace ces valeurs par la couleur de fond souhaitée et l'opacité désirée */
  background-blend-mode: overlay; /* Cette propriété peut être utilisée pour ajuster le mélange de l'image et de la couleur de fond */
}
.footer {
  margin-top: auto; /* Le footer restera en bas de la page */
}

.navContainer {
  display: flex;
  justify-content: space-between;
  //height: 0rem;
  //top: 252px;
  // position: absolute;
  //top: 32rem;
}


.transparent-nav {
  background-color: transparent !important;
}


.links-container {
  width: 100%;
}

h1 {
  text-align: center;
  color: black;
}

.links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0rem;
  background-color: #f19915;
  height: 2rem;
  align-items: center;
}

// a {
//   text-decoration: none;
//   font-size: 120%;
//   color: white;
//   cursor: pointer;
// }

// a:hover {
//   color: rgb(0, 174, 255);
//   border-bottom: 10px solid #fff;
// }

// .active-link {
//   color: rgb(0, 174, 255);
//   border-bottom: 10px solid #fff;
// }

header{
  // background-color: #94939d;
  background-color: #f19915;
  //height: 9%;
  align-items: center;
}
.footer{
  background-color: #f19915;

}

// @media screen and (max-width: 428px) {


// header{
//   background-color: none;
// }

//   .navContainer {
//     display: none;
//   }
//   .footer{
//     background-color: black;
//     color: white;
//   }

//   .wrapper{
//     background-image: none;
//     background-color: transparent;
//   }
// }

// @media screen and (max-width: 475px) {
//    .li a {
//     font-size: 70%;
//   }

//   .footer{
//     background-color: black;
//     color: white;
//   }

// }

// @media screen and (min-width: 429px) {
//   .ul{
//     list-style: none;
//     padding: 0;
//     margin: 0;
//   }

//   .li,

//   .close-button,
//   .close-icon {
//     display: none;
//   }
// }

// @media screen and (max-width: 428px) {
//   .burger {
//     top: 2rem;
//     cursor: pointer;
//     // z-index: 50;
//     position: relative;
//     margin-left: 2vh;
//   }

//   .bar {
//     width: 25px;
//     height: 3px;
//     background-color: #333;
//     margin: 5px 0;
//     transition: 0.4s;
//   }
// .hidden{
//   // display: none;
//   background-color: #fff;
// }
//   .menu {
//     position: absolute;
//     z-index: 2;
//     top: 2.5rem;
//     left: 0;
//     width: 200px;
//     background-color: #94939d;
//     opacity: 0.9; /* Valeur d'opacité (ajustez selon vos préférences) */
//     //  transition: opacity 0.3s ease;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
//     overflow: hidden;
//     max-height: 0;
//     transition: left 0.4s ease-in-out;
//   }

//   .menu.open {
//     max-height: 500px; /* Ajustez cette valeur en fonction de la hauteur de votre menu */
//   }

//   .ul {
//     list-style: none;
//     padding: 0;
//     margin: 0;
//   }

//  .li {
//     display: flex;
//     padding: 10px;
//     justify-content: space-around;
//     align-items: center;
//   }

//  .ul a {
//     text-decoration: none;
//     color: #fff;
//   }
//  a:hover {
//     color: red;
//   }

//   .close-button {
//     display: flex;
//     justify-content: flex-end;
//     padding: 10px;
//     padding-top: 22px;
//     cursor: pointer;
//     position: absolute;
//     z-index: 3;
//   }

//   .close-icon {
//     font-size: 24px;
//     font-weight: bold;
//     color: #fff;
//     margin-left: 0.9vh;
//   }
// }

* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI";
}
li {
  list-style: none;
}
a,
a:visited {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  color: white;
}

/**** NAVBAR ****/
nav {
  background: skyblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: calc(0.5rem + 1.5vw);
}
nav ul {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
#icons {
  cursor: pointer;
  display: none;
}

@media (max-width: 650px) {
  #icons {
    display: block;
  }
  #icons:before {
    content: "\2630";
  }
  .active #icons:before {
    content: "\2715";
  }
  nav ul {
    position: fixed;
    left: -100%;
    top: 5%;
    flex-direction: column;
    background: skyblue;
    width: 100%;
    text-align: center;
    transition: 0.25s;
  }
  nav li {
    padding: 3px 0;
  }
  nav li:hover {
    background: rgb(157, 217, 240);
  }
  nav.active ul {
    left: 0;
  }
}
