<header style="position: fixed; width: 100%">
  <img
    id="headerImg"
    src="https://knightparabellum.000webhostapp.com/img/headerGateau.png"
    alt="header image"
    style="width: 100%"
  />

  <div class="navContainer" style="width: 100%">
    <div class="links-container">
      <nav id="nav">
        <h3>Ma petite boutique &#169;</h3>

        <ul>
          <li>
            <a
              [routerLink]="['/']"
              [ngClass]="{ 'active-link': isLinkActive('/') }"
              >Accueil</a
            >
            <!-- <a href="/">accueil</a> -->
          </li>
          <li>
            <a
              [routerLink]="['/card']"
              [ngClass]="{ 'active-link': isLinkActive('/card') }"
              >Card</a
            >
            <!-- <a href="/card">Card</a> -->
          </li>
          <li>
            <a
              href="https://drive.google.com/drive/folders/1D_Zv4CUtIG7B9ptYMsDsO6ied4BjR0M5"
              >Accès privé</a
            >
            <!-- <a href="#">blog</a> -->
          </li>
        </ul>
        <div id="icons"></div>
      </nav>

      <!-- </div> -->
    </div>
  </div>
</header>

<div class="wrapper">
  <!-- <div class="wrapper" [ngClass]="{'dark-overlay': isNavActive}"> -->

  <!-- <router-outlet></router-outlet> -->

  <router-outlet [ngClass]="{ 'dark-overlay': isNavActive }"></router-outlet>
</div>

<div class="footer">
  <footer>
    <p>footer</p>
    <p>quoi de neuf</p>
    <p>
      Le Lorem Ipsum est simplement du faux texte employé dans la composition et
      la mise en page avant impression. Le Lorem Ipsum est le faux texte
      standard de l'imprimerie depuis les années 1500, quand un imprimeur
      anonyme assembla ensemble des morceaux de texte pour réaliser un livre
      spécimen de polices de texte. 
    </p>
  </footer>
</div>
