.container{
  margin-top: 14%; // hauteure à regler en rapport affichage app
  display: flex;
  // flex-direction: column;
  // justify-content: center;
  align-items: center;
}
.results {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  margin-top: 50px;
  justify-content: space-around;
}
input[type="text"] {
  border: solid 1px dark;
  padding: 10px;
  border-radius: 8px;
  margin-right: 4px;
  display: inline-block;
  width: 30%;
}
button {
  padding: 10px;
  border: solid 1px dark;
  background-color: aqua;
  color: white;
  border-radius: 8px;
}
h3{
  display: none;
}
ngb-carousel {

  img {
    max-width: 100%;  // Assure que l'image ne dépasse pas la largeur du conteneur
    height: auto;     // Conserve les proportions de l'image
    max-height: 18rem;
    border-radius: 10px;
    border: 2px solid black;
  }
}

.intro {

  margin-bottom: 10vh;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;

}

.section {
  max-width: 60vh;
  position: absolute;
  z-index: 99999999;
  top: 52vh;
  left: 95vh;
  background-color: rgb(0, 0, 0, 0.5);
}

@media (max-width: 600px)  {
  .results {
      grid-template-columns: 1fr;
  }
  .container {
    margin-top: 25%;
}
ngb-carousel {
  img {
    display: none;
  }
}

h3{
  display: none;
}
.section
{
  position: relative;
  left: auto;
  top: auto;
  // max-width: 30vh;
}
}
